@{
    ViewBag.Title = "Index";
}

<h2>Leaderboard</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Rank</th>
    </tr>
    <tr>
        <td><a href="/Ardalis">Ardalis</a></td>
        <td>70</td>
    </tr>
    <tr>
        <td>Brendoneus</td>
        <td>69</td>
    </tr>
    <tr>
        <td>CodingWithSpike</td>
        <td>68</td>
    </tr>
    <tr>
        <td>Eric</td>
        <td>1</td>
    </tr>
</table>

<div id="grid" class="table table-striped table-hover"></div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/Profile/LeaderboardData"
                    },
                    schema: {
                        model: {
                            fields: {
                                Name: { type: "string" },
                                Level: { type: "number" }
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                height:430,
                columns: [{
                    field:"Name"},
                    {field:"Level"}
                ]
            });
        });
    </script>
}