@{
    ViewBag.Title = "Index";
}

<h2>Leaderboard</h2>
<div id="example">
    <table id="leaderboard" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Last Activity</th>
            </tr>
        </thead>
        <tbody data-template="row-template" data-bind="source: profiles"></tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        var viewModel = new kendo.data.ObservableObject({
            profiles: [{ "Name": "nobody", "Level": "0", "LastActivityDateString": "never" }]
        });

        function refreshData() {
            $.getJSON('/Profile/LeaderboardData', function (data) {
                viewModel.set("profiles", data);
                $('abbr.timeago').timeago();
            });
        }

        $(document).ready(function () {
            refreshData();
            kendo.bind($("#example"), viewModel);
        });


        var hub = $.connection.profileHub;
        hub.client.updateBoard = function (profile) {
            updateLeaderboard(profile);
        };
        $.connection.hub.start();

        function updateLeaderboard(profile) {
            refreshData();
            showToast("Update", "Leaderboard data updated.");
        }

        function showToast(title, message) {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
            toastr.success(message, title);
        }
    </script>

    <script id="row-template" type="text/x-kendo-template">
        <tr>
            <td><a href="/#:Name #">#:Name #</a>
            </td>
            <td data-bind="text: Level">
            </td>
            <td><abbr class="timeago" title="#:LastActivityDateString #">#:LastActivityDateString #</abbr></td>
        </tr>
    </script>
}