@{
    ViewBag.Title = "Index";
}

<h2>Leaderboard</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Rank</th>
    </tr>
    <tr>
        <td><a href="/Ardalis">Ardalis</a></td>
        <td>70</td>
    </tr>
    <tr>
        <td>Brendoneus</td>
        <td>69</td>
    </tr>
    <tr>
        <td>CodingWithSpike</td>
        <td>68</td>
    </tr>
    <tr>
        <td>Eric</td>
        <td>1</td>
    </tr>
</table>

<div id="grid" class="table table-striped table-hover"></div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.leaderboardDataSource = new kendo.data.DataSource({
                type: "json",
                transport: {
                    read: "/Profile/LeaderboardData"
                },
                schema: {
                    model: {
                        fields: {
                            Name: { type: "string" },
                            Level: { type: "number" }
                        }
                    }
                },
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            });

            $("#grid").kendoGrid({
                dataSource: leaderboardDataSource,
                height: 430,
                columns: [{
                    field: "Name"
                },
                    { field: "Level" }
                ]
            });
        });

        var hub = $.connection.profileHub;
        hub.client.updateBoard = function (profile) {
            updateLeaderboard(profile);
        };
        $.connection.hub.start();

        function updateLeaderboard(profile) {
            //            var data = $("#grid").data("kendoGrid").dataSource.data();
            window.leaderboardDataSource.read();
            showToast("Update", "Leaderboard data updated.");
        }

        function showToast(title, message) {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
            toastr.success(message, title);
        }
    </script>
}