<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Telerik</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-10 col-offset-1" id="telerik-navi">
                <a id="telerik-logo" href="http://www.telerik.com" title="Telerik">
                    <img src="/Content/images/telerik-logo.png" width="107" height="35" alt="Telerik"><span id="telerik-slogan"></span></a>
            </div>
        </div>
        <div class="row" id="maincontent">
            @RenderBody()
        </div>
        <div class="row">
            <div class="col-10 col-offset-1">
                <p>&copy; @DateTime.Now.Year - Telerik, Inc.</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-2.0.3.js" />
    <script type="text/javascript" src="~/js/bootstrap.js" />

</body>
</html>
